body  {
	background-image: url("stack of paper.png");
	background-color: #cccccc;
	padding: 10px;
}

form input, select{
	margin-bottom: 5px;
}
.field-holder{
	width: fit-content;
	min-width: 50px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.field-holder label{
	display: block;
	float: left;
	width: 100px;
}
.field-holder input{
	float: left;
}

#sub {
	border: 0px;
	background-color: blue;
	color: white;
	padding: 5px 15px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	float: right;
}
#sub:hover{
	background-color: red;
}

.login-form{
	background-color: white;
	width: fit-content;
	margin: 10px auto;
	padding: 30px;
	padding-bottom: 60px;
}

h1{
	text-align: center;
}
